<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/main.css">
        <link rel="stylesheet" type="text/css" href="./css/slick.css" />
        <link rel="sortcut icon" href="./assets/site.jpg" type="image/jpg" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <title>Ix-sistemas</title>
    </head>

<body onload="listaProduto()">
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">
                    <img src="./assets/logo.png" width="100" height="100" />
                </div>
                <div class="redes-sociais">
                    <div class="sm">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-twitch"></i></a>
                    </div> 
                </div>
            </div>
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div style="width: 800px;" class="menu">
                <ul>
                    <li>
                        <a href="./home.html">Inicío</a>
                    </li>
                    <li>
                        <a href="./cardapio.html">Cardapio</a>
                    </li>
                    <li>
                        <a href="./pedido.html">Pedidos</a>
                    </li>
                    <li>
                        <a href="./peddetalhes.html">Detalhe dos Pedidos</a>
                    </li>
                    <li>
                        <a href="./mesa.html">Mesas</a>
                    </li>
                    <li>
                        <a href="./usuario.html">Acesso de Usuários</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
                                                <!-- COMEÇO DO CARDAPIO -->

<table style="max-width: 100%;padding: 2px;tab-size: inherit;padding-left: 100px;padding-right: 100px;width:100000mm;">
    <thead>
        <tr>
            <th colspan="8" style="font-size: 50px;text-align:center;">Cardapio</th>
        </tr>
        <tr>
            <th><h1>id</h1></th>
            <th><h1>Nome</h1></th>
            <th><h1>Descrição</h1></th>
            <th><h1>Valor</h1></th>
            <th><h1>Tipo</h1></th>
        </tr>
    </thead>
        <tbody id="produto">
        </tbody>
            <tfoot >
                <tr>
                       <form>
                            <td></td>
                           <td><input type="text" id="nome"></td>
                           <td><input style="width: 64pc;" type="text" id="descricao"></td>
                           <td><input type="text" id="valor"></td>
                           <td><input type="text" id="tipos"></td>
                           <td><button type="button" value="Criar" onclick="criaProduto()">Criar Produto</button></td>
                       </form>
                </tr>
            </tfoot>
               <div class="msg">
                  <p id="mensagem">Mensagens do Sistema</p>
              </div>
    </table>
    <script src="cardapio.js"></script>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate.js"></script>
    <script type="text/javascript" src="./js/slick.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>

</htm>