<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/slick.css" />
    <link rel="sortcut icon" href="./assets/site.jpg" type="image/jpg" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">  
    <title>Ix-sistemas</title>
</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">
                    <img src="./assets/logo.png" width="100" height="100" />
                </div>
                <div class="redes-sociais">
                    <div class="sm">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-twitch"></i></a>
                    </div> 
                </div>
            </div>
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li>
                        <a href="./homecliente.html">Inicío</a>
                    </li>
                    <li>
                        <a href="./cardapiocliente.html">Cardapio</a>
                    </li>
                    <li>
                        <a href="./login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <div class="col-100">
        <div class="slider-principal">
            <img src="./assets/lanche1.jpg" />
            <img src="./assets/lanche2.jpg" />
            <img src="./assets/lanche3.jpg" />
            <img src="./assets/lanches4.jpg" />
        </div>
    </div>
    <div class="col-100" style="height: 700px;">
        <div class="content texto-destaque">
            <h1>CONFIRA AGORA OS <strong>ESPECIAIS DA CASA</strong> COM PREÇOS ÓTIMOS</h1>
            <p>Nosso cardápio tem uma variedade de lanches que deixarão você morrendo de fome. 
                Sem falar na velocidade que são entregues na sua mesa! E aí?! O que você está esperando, venha logo conferir!</p>

            <div class="col-3 bloco-texto">
                <img src="./assets/especial1.png"  width="150" height="150"/>
                <h3><b>Combo</b> simples</h3>
                    <p>Um dos mais pedidos!
                    <p>Um lanche, um refrigerante lata 350ml e uma batata individual.
                    </p>
            </div>
            <div class="col-3 bloco-texto" style="margin-top: 6em;">
                <img src="./assets/especial2.jpg"  width="150" height="150"/>
                <h3><b>Combo</b> de <b>3</b> lanches</h3>
                <p>Um combo de 3 lanches para você que trabalha o dia inteiro 'naquela' obra e quer mata a fome.
                </p>
            </div>
            <div class="col-3 bloco-texto">
                <img src="./assets/especial3.jpg"  width="150" height="150"/>
                <h3><b>Apenas </b>um lanche</h3>
                <p>Um lanche para qualquer fome do dia.
                </p>
            </div>
            <div class="col-3 bloco-texto">
            <img src="./assets/especial4.jpg"  width="150" height="150"/>
            <h3><b>Apenas </b>um lanche</h3>
            <p>Satisfaça sua fome com esse lanche.
            </p>
            </div>
            <div class="col-3 bloco-texto" style="top: -180px;">
                <img src="./assets/especial5.jpg"  width="150" height="150"/>
                <h3><b>Apenas </b>um lanche</h3>
                <p>
                    A fome vai embora depois de comer esse lanche.
                </p>
            </div>
        </div>
    </div>
</div>
    </div>
    <div class="col-100 bloco-imagens-texto" style="margin-top: 100px;">
        <div class="content" style="margin-left: 24%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./assets/lanche1.jpg">
                <p><b>Combo DOIS Mega Lanches</b></p>
                <p>Venha conferir o combo de mega lanches que vai fazer você matar a sua fome.
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./assets/lanche2.jpg">
                <p><b>Especial da casa</b></p>
                <p>Confira o especial da casa com um ótimo preço para você.
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./assets/lanche3.jpg">
                <p><b>Lanche do Dia</b></p>
                <p>
                    Confira os especiais do dia.
                </p>
            </div>
        </div>
        <div class="content" style="margin-left: 24%; float: left;">
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./assets/lanches4.jpg">
                <p><b>Combo Simples</b></p>
                <p>Um lanche simples da sua preferência, junto de uma bebida e uma porção individual de fritas.
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./assets/fitnes.jpg">
                <p><b>Lanche</b></p>
                <p>Pra você que quer ser <i>fitness</i>.
                </p>
            </div>
            <div class="col-3 bloco-texto bloco-imagem">
                <img src="./assets/lanche6.png">
                <p><b>Combo</b></p>
                <p>X-Burguer mais uma porção individual de fritas.
                </p>
            </div>
        </div>
    </div>
<p style="font-size: 50px;text-align:center;">Desenvolvedores</p>
    <div class="col-100 bloco-logos">
        <div class="content">
            <div class="col-4">
                <img alt="Lucas" title="Lucas" src="./assets/lucas.jpg" width="150" height="150"/>
            </div>
            <div class="col-4">
                <img alt="Isa" title="Isa" src="./assets/isa.jpg" width="150" height="150"/>
            </div>
            <div class="col-4">
                <img alt="caique" title="caique" src="./assets/caique.jpg" width="150" height="150"/>
            </div>
           <div class="col-4">
               <img alt="Lucas" title="Lucas" src="./assets/lucas.jpg" width="150" height="150"/>
           </div>
        </div>
    </div>
    <footer>
        <div class="col-100 footer">
            <div class="content">
                <div class="col-4">
                    <h3><b>Comunidade</b></h3>
                    <p>Lacnhes otimos, vou voltar mais<b class="clock">22:33</b></p>
                    <p>Preparam meu pedido bem rapido<b class="clock">20:41</b></p>
                    <p>Achei que o Tablet ficava cmg :(<b class="clock">22:26</b></p>
                    <p>A inovação que fizeram é otima<b class="clock">23:07</b></p>
                </div>
                <div class="col-4">
                    <h3><b>Sobre Nos</b></h3>
                    <p>
                        Ix-Sistemas é um programa de auxílio para bares, lanchonetes e restaurantes. 
                        Ele tem como objetivo, evitar aglomeração e facilitar a realização de pedidos.
                         De forma autonôma e simples, o próprio cliente pode fazer seu pedido, sendo mandado diretamente para a cozinha.
                    </p>
                </div>
                <div class="col-4">
                    <h3><b>Suporte</b></h3>
                    <p>
                        Em caso de duvidas por favor entrar em contato conosco, vamos te ajudar na medida do possivel desde ja, muito obrigado.
                    </p>
                    <p class="local">jaguaríuna, SP<p>
                            <p class="emailico">email@email.com<p>
                                    <p class="telefoneico">(19)01234-5678<p>
                </div>
            </div>
        </div>
    </footer>
    <div class="col-100 footer-2">
        <div class="content">

            <p>
                CONFIRA NOSSO SITE E BOM  APETITE!
            </p>
        </div>
    </div>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate.js"></script>
    <script type="text/javascript" src="./js/slick.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>

</html>