<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/slick.css" />
    <link rel="sortcut icon" href="./assets/site.jpg" type="image/jpg" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>Ix-sistemas</title>
</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">
                    <img src="./assets/logo.png" width="100" height="100" />
                </div>
                <div class="redes-sociais">
                    <div class="sm">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-twitch"></i></a>
                    </div> 
                </div>
            </div>
        </main>
    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li>
                        <a href="./homecliente.html">Inicío</a>
                    </li>
                    <li>
                        <a href="./cardapiocliente.html">Cardapio</a>
                    </li>
                    <li>
                        <a href="./login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <center>
    <div class="login-wrap">
	    <div class="login-html">
            <label><h1><center>Acessar ao Ix-Sistema</center></h1></label>
		<div class="login-form">
				<div class="group">
					<label for="login" class="label">Login</label>
					<input id="login" type="text" class="input">
				</div>
				<div class="group">
					<label for="senha" class="label">Senha:</label>
					<input id="senha" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Continuar conectado</label>
				</div>
                <div class="group">
					<button type="button" value="Acessar" onclick="acessar()" style="width: 375px; height: 37px; background-color: #ffd600; border-radius: 16px;">Logar</button>
				</div>
				
				
					<a href="#forgot">Esqueceu a Senha?</a>
		    </div>
		</div>	
	</div></center>                       
<div class="msg">
    <p id="mensagem">Mensagens do Sistema</p>
</div>
<br></br>  
<br></br>    
    <footer>
        <div class="col-100 footer">
            <div class="content">
                <div class="col-4">
                    <h3><b>Comunidade</b></h3>
                    <p>Lacnhes otimos, vou voltar mais<b class="clock">22:33</b></p>
                    <p>Preparam meu pedido bem rapido<b class="clock">20:41</b></p>
                    <p>Achei que o Tablet ficava cmg :(<b class="clock">22:26</b></p>
                    <p>A inovação que fizeram é otima<b class="clock">23:07</b></p>
                </div>
                <div class="col-4">
                    <h3><b>Sobre Nos</b></h3>
                    <p>
                        Ix-Sistemas é um programa de auxílio para bares, lanchonetes e restaurantes. 
                        Ele tem como objetivo, evitar aglomeração e facilitar a realização de pedidos.
                         De forma autonôma e simples, o próprio cliente pode fazer seu pedido, sendo mandado diretamente para a cozinha.
                    </p>
                </div>
                <div class="col-4">
                    <h3><b>Suporte</b></h3>
                    <p>
                        Em caso de duvidas por favor entrar em contato conosco, vamos te ajudar na medida do possivel desde ja, muito obrigado.
                    </p>
                    <p class="local">jaguaríuna, SP<p>
                            <p class="emailico">email@email.com<p>
                                    <p class="telefoneico">(19)01234-5678<p>
                </div>
            </div>
        </div>
    </footer>
    <div class="col-100 footer-2">
        <div class="content">

            <p>
                CONFIRA NOSSO SITE E BOM  APETITE!
            </p>
        </div>
    </div>
    <script src="login.js"></script>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/jquery-migrate.js"></script>
    <script type="text/javascript" src="./js/slick.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>

</html>