.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 681px;
}

.u-section-1 .u-group-1 {
  width: 486px;
  min-height: 508px;
  height: auto;
  box-shadow: 10px 11px 0px 9px rgba(0,0,0,1);
  margin: 60px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 149px 82px 0 76px;
}

.u-section-1 .u-form-1 {
  height: 205px;
  margin: 0 66px 0 60px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-weight: 700;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-text-2 {
  margin: -155px 82px 0 76px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 354px;
  margin: -477px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 146px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  background-image: none;
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: -20px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
    margin-left: 3px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
}